body{
    background-color: black;
    color: white;
    background-image: url(imgs/Adobe\ Express\ -\ background.gif);
}

.box{
    justify-content: center;
    align-items: center;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(32, 32, 32, 0.603);
    padding: 20px 20px;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
    /* background-image: url(imgs/Adobe\ Express\ -\ gifchaos.gif);
    background-repeat: no-repeat;
    background-size: cover; */
}

ul{
    display: flex;
    list-style-type: none;
}

.musica{
    border-radius: 50%;
    margin-right: 15px;
    filter: grayscale(0);
    transition: 0.5s;
}

.musica:hover, .deezer:hover, .musicas:hover{
    filter: grayscale(1);
    transform: scale(1.1);
}

.deezer{
    margin-right: 15px;
    filter: grayscale(0);
    transition: 0.5s;
}

.musicas{
    margin-right: 15px;
    background-color: white;
    filter: grayscale(0);
    border-radius: 50%;
    transition: 0.5s;
}

.capa{
    border: 2px solid rgb(255, 235, 235);
    border-radius: 5px;
}

@media (max-width: 768px) {
    .box {
        position: static;
        transform: none;
        margin: 20px auto;
        padding: 15px;
        margin: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        height: 500px;
    }

    ul {
        flex-direction:row;
        justify-content: center;
        align-items: center;
    }

    .musica, .deezer, .musicas {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 480px) {
    .box {
        padding: 10px;
    }

    .musica, .deezer, .musicas {
        width: 40px;
        height: 40px;
    }
}